@-moz-document url-prefix() {
  #main_section {
    height: 100vh;
  }
}

body,
html {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.logo > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 20;
}

#main_section {
  height: 100vh;
  width: 100vw;
  font-size: calc(0.75em + 1vmin);
}

#location_side {
  position: relative;
  left: -6vw;
  top: 18vh;
}

#location {
  height: 80vh;
  position: relative;
  top: 5vh;

}



/* Set the size of the div element that contains the map */
#map {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#mall_desc {
  font-size: calc(0.70em + 1vmin);
  font-weight: bold;
  padding-top: 5px;
}

#floorplan {
  position: relative;
  top: 30vh;
  background-color: rgb(240, 239, 239);
}

#floor_side {
  position: relative;
  left: -10vw;
  top: 25vh;
}

small {
  font-size: calc(0.75em + 1vmin);
}

#booth_structure {
  position: relative;
  height: 100vh;
  top: -10vh;
  background-color: rgb(240, 239, 239);
}

#booth_side {
  position: relative;
  left: -8vw;
  top: 22vh;
}

#booth_image {
  position: relative;
  top: 20vh;
}

#booth_info {
  position: relative;
  top: 20vh;
}

#event_side {
  position: relative;
  left: -12vw;
  top: 20vh;
  
}

#past_event_gallery {
  position: relative;
  height: 70vh;
  top: -5vh;
  background-color: white;
}

#photo_gallery {
  position: relative;
  top: 0vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
}

#photo_gallery div {
  padding-bottom: 25vh;
}

#participate {
  position: relative;
  width: 100vw;
  height: 80vh;
}

#participate_side {
  position: relative;
  left: -7vw;
  top: 20vh;
}

.sponsor {
  position: relative;
  top: 10vh;
  height: auto;
}

footer {
  position: relative;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5vh;
}

.time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 40vh;
}



.nav-item {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 2.5vw;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  width: 60%;
  border-color: red;
}

h1 {
  transform: rotate(90deg);
  color: lightgray;
  font-size: 4vw;
  font-family: 'Reem Kufi', sans-serif;
}



.nav-link {
  padding-bottom: 0;
}
nav .navbar-nav li a {
  color: white !important;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
}

li {
  list-style-type: none;
}

img:hover {
  cursor: pointer;
}

#fixed-top {
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#floor_plan_image {
  height: 100vh;
  width: auto;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767px) {
  .sponsor div {
    padding: 0 0 0 0 !important;
  }

  #main_section > hr {
    display: none;
  }
  #main_section {
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
  }

  img {
    padding: 0px;
  }

  html {
    height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
  }

  #main_section {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  #main_section
    > div.pt-3.pb-5.animate__animated.animate__slideInLeft.target
    > div
    > ul:nth-child(1) {
    margin: 0 !important;
    padding-bottom: 4vh;
  }

  #main_section
    > div.pt-3.pb-5.animate__animated.animate__slideInLeft.target
    > div
    > ul:nth-child(1)
    > li.pl-5 {
    padding-bottom: 0 !important;
  }

  h1 {
    transform: none;
    font-size: 8vw;
  }

  #floorplan {
    position: relative;
    top: 100vh;
  }

  #location_info {
    position: relative;
    top: -25vh;
    text-align: center;
  }

  .logo > img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
    left: 18vw;
  }

  .time {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90% !important;
    height: 30vh;
  }

  .navbar-toggler {
    position: relative;
    top: -10vh;
    left: 7vw;
  }

  #location_side {
    position: relative;
    top: -25vh;
    left: 30vw;
  }

  #location {
    position: relative;
    padding-bottom: 0 !important;
    height: 110vh;
    top: 0vh;
    padding-top: 35vh !important;
  }



  #map {
    height: 60vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    position: relative;
    top: -20vh;
  }

  #floorplan {
    padding: 0 !important;
    height: 100vh;
    position: relative;
    top: 50vh;
  }

  #floor_side {
    position: relative;
    top: 5vh;
    left: 25vw;
    padding-top: 6vh;
    height: 10vh;
  }

  #floor_plan_image {
    height: 50vh;
  }

  #booth_structure {
    position: relative;
    top: 30vh;
    background-color: rgb(240, 239, 239);
  }

  #booth_side {
    position: relative;
    top: 10vh;
    left: 15vw;
    height: 20px;
    padding-top: 0vh;
    padding-bottom: 10px !important;
  }

  #booth_info > div.col-10.p-0.m-0 > div {
    padding-left: 30px;
  }

  .booth_details {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  #booth_info {
    position: relative;
    top: 10vh;
    height: 40vh;
  }

  #booth_image {
    position: relative;
    height: 20vh;
    width: 80%;
  }

  #past_event_gallery {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: relative;
    top: 30vh;
  }

  #photo_gallery {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0 !important;
  }

  #event_side {
    position: relative;
    float: left;
    left: 10vw;
    top: 0vh;
  }

  #participate_side {
    top: 10vh;
    left: 1vw;
  }

  #participate {
    position: relative;
    top: 30vh;
  }

  #participate > div.col-md-9 {
    font-size: calc(0.75em + 1vmin);
  }

  .sponsor {
    position: relative;
    padding-top: 20vh;
    top: 10vh;
    height: 100vh;
  }

  h3 {
    font-size: 7vw !important;
  }

  .mat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0 !important;
    text-align: center;
    width: 90vw;
  }

  .mat li {
    padding: 0px 0px 20px 10px !important;
  }

  #participate > div.col-md-9 > div > div > div.pt-2 > img {
    padding: 10px;
  }

  li {
    font-size: 4vw;
  }

  footer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 90%;
  }

  #navbar_new a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 8px 8px 8px !important;
    text-decoration: none;
    font-size: 10px !important;
  }

  #navbar_new {
    height: 50px;
  }

  #participate > div.col-md-9 > div > div > div:nth-child(2) > img {
    padding: 10px;
  }

  #photo_gallery > div {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-left: 5px;
  }
}

#navbar_new {
  background-color: #333;
  position: fixed;
  /* top: 0px; */
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
}

#navbar_new a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #main_section {
    font-size: 1.5rem;
  }

  .time {
    width: 90%;
    height: auto;
  }

  .mat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0 !important;
    text-align: center;
    width: 90vw;
  }

  .mat li {
    padding: 0px 0px 20px 20px !important;
  }

  #main_section
    > div.pt-3.pb-5.animate__animated.animate__slideInLeft.target
    > div
    > ul:nth-child(1)
    > li.pl-5 {
    padding-left: 28vw !important;
  }

  #location_info {
    font-size: larger;
    /* padding-right: 7vw; */
    width: 100vw;
  }

  #location_info > img {
    width: 200px;
    height: auto;
  }

  #map {
    height: 50%;
    position: relative;
    top: 15vh;
  }

  #floor_plan_image {
    width: 70vw;
    height: auto;
  }

  #event_side {
    padding: 0;
  }

  #booth_image {
    width: auto;
    position: relative;
    right: 10vw;
    width: 85vw;
  }

  .item a img {
    height: auto;
    width: 30vw;
  }

  #photo_gallery div a img {
    padding: 5vh;
  }
}

@media (width: 1024px) and (height: 1366px) {
  #floor_plan_image {
    width: 70vw;
    height: auto;
    position: relative;
    top: 5vh;
  }

  .time {
    width: 80%;
    height: auto;
  }

  .mat {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0 !important;
    text-align: center;
    width: 90vw;
  }

  .mat li {
    padding: 0px 0px 20px 20px !important;
    font-size: 3rem;
  }

  #main_section
    > div.pt-3.pb-5.animate__animated.animate__slideInLeft.target
    > div
    > ul:nth-child(1)
    > li.pl-5 {
    padding-left: 28vw !important;
  }

  #location_info {
    font-size: 1.5rem;

    width: 100vw;
    position: relative;
    top: 20vh;
  }

  #location_info > img {
    width: 100%;
    height: auto;
  }

  #map {
    height: 50%;
    position: relative;
    top: 25vh;
  }

  #floor_plan_image {
    width: 70vw;
    height: auto;
  }

  #event_side {
    padding: 0;
  }

  #booth_image {
    width: auto;
    position: relative;
    right: 10vw;
    width: 85vw;
  }

  .item a img {
    height: auto;
    width: 30vw;
  }

  #photo_gallery div a img {
    padding: 6vh;
  }
}

@media (max-width: 823) and (min-width: 640px) {
  #main_section {
    font-size: small !important;
  }
}
