body,
html {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 20;
}

.time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.nav-item {
  color: white;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  width: 60%;
  border-color: red;
}

h1 {
  transform: rotate(90deg);
  color: lightgray;
  font-size: 4vw;
  font-family: 'Reem Kufi', sans-serif;
}

#main {
  overflow: hidden;
}

.wrapper {
  background-color: rgb(240, 239, 239);
}

.nav-link {
  padding-bottom: 0;
}
nav .navbar-nav li a {
  color: white !important;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
}

#past_event_gallery {
  height: 60vh;
}

#location_side {
  position: relative;
  left: -6vw;
  top: 15vh;
}

#floor_side {
  position: relative;
  left: -10vw;
  top: 18vh;
}

#booth_side {
  position: relative;
  left: -8vw;
  top: -4vh;
}

#event_side {
  position: relative;
  left: -7.5vw;
  top: 3vh;
}

#participate_side {
  position: relative;
  left: -6vw;
  top: 5vh;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #main_section {
    height: 100vh;
    width: 100vw;
  }

  .logo > img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
    left: 18vw;
  }

  .time {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40%;
  }

  .navbar-toggler {
    position: relative;
    top: -10vh;
    left: 7vw;
  }

  .target {
    font-size: 4vw;
    height: 100%;
    margin-right: 20px;
  }

  #past_event_gallery{
    padding: 0;
  }


  #photo_gallery {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }

  #floor_plan_image {
    margin-left: auto;
    margin-right: auto;
  }

  #location_side {
    position: relative;
    left: -45vw;
    top: 16vh;
    padding-top: 4vh;
  }
  #floor_side {
    position: relative;
    left: -45vw;
    top: 17vh;
    padding-right: 2vw;
    padding-bottom: 4vh;
    padding-top: 4vh;
  }
  #booth_side {
    position: relative;
    left: -45vw;
    top: 12vh;
    padding-bottom: 4vh;
  }
  #event_side {
    position: relative;
    float: left;
    left: -45vw;
    top: 30vh;
    padding-right: 2vw;
  }
  #participate_side {
    position: relative;
    left: -45vw;
    top: -2vh;
    padding-right: 2vw;
    padding-bottom: 4vh;
    padding-top: 2vh;
  }
}

li {
  list-style-type: none;
}

img:hover {
  cursor: pointer;
}
