@-moz-document url-prefix() {
  #main_section {
    height: 100vh;
  }
}

body,
html {
  height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 20;
}

#main_section {
  height: 100vh;
  width: 100vw;
}

#location_side {
  position: relative;
  left: -6vw;
  top: 15vh;
}

#location {
  height: 100vh;
}

#mall_desc {
  font-size: smaller;
  font-weight: 500;
  padding-top: 5px;
}

#booth_structure {
  height: 100vh;
}

#booth_side {
  position: relative;
  left: -8vw;
  top: 20vh;
}

#past_event_gallery {
  height: 100vh;
}

#event_side {
  position: relative;
  left: -6vw;
  top: 15vh;
}

#floorplan {
  position: relative;
  top: 80vh;
  background-color: rgb(240, 239, 239);
}

#floor_side {
  position: relative;
  left: -10vw;
  top: 25vh;
}

#booth_structure {
  position: relative;
  top: 40vh;
  background-color: rgb(240, 239, 239);
}

#past_event_gallery {
  position: relative;
  top: 80vh;
  background-color: white;
}

#past_event_gallery {
  height: 60vh;
}

#participate {
  position: relative;
  top: 100vh;
  width: 100%;
  height: 100vh;
}

#participate_side {
  position: relative;
  left: -7vw;
  top: 20vh;
}

.sponsor {
  position: relative;
  top: 100vh;
}

footer {
  position: relative;
  top: 40vh;
  right: 30vw;
}

.time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40;
}

/* Set the size of the div element that contains the map */
#map {
  padding-top: 10px;
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.nav-item {
  color: white;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  width: 60%;
  border-color: red;
}

h1 {
  transform: rotate(90deg);
  color: lightgray;
  font-size: 4vw;
  font-family: 'Reem Kufi', sans-serif;
}

#main {
  /* overflow: hidden; */
}

.nav-link {
  padding-bottom: 0;
}
nav .navbar-nav li a {
  color: white !important;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
}

li {
  list-style-type: none;
}

img:hover {
  cursor: pointer;
}

#fixed-top {
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  html {
    height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
  }
  #main_section {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  h1 {
    transform: none;
    font-size: 8vw;
  }

  #floorplan {
    position: relative;
    top: 100vh;
  }

  #location_info {
    position: relative;
    top: -20vh;
    text-align: center;
  }

  .logo > img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
    left: 18vw;
  }

  .time {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40%;
  }

  .navbar-toggler {
    position: relative;
    top: -10vh;
    left: 7vw;
  }

  #location_side {
    position: relative;
    top: -25vh;
    left: 30vw;
  }
  #location_info > img {
    width: 80%;
  }
  #location {
    position: relative;
    padding-bottom: 0 !important;
    height: 110vh;
    top: 35vh;
  }

  #mall_desc {
    font-weight: bold;
  }
  #map {
    height: 80%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    position: relative;
    top: -15vh;
  }

  #floorplan {
    padding: 0 !important;
    height: 100vh;
    position: relative;
    top: 150vh;
  }

  #floor_side {
    position: relative;
    top: 0vh;
    left: 25vw;
    padding-top: 6vh;
    height: 10vh;
  }

  #floor_plan_image {
    height: 50vh;
  }

  #booth_structure {
    position: relative;
    top: 150vh;
    background-color: rgb(240, 239, 239);
  }

  #booth_side {
    position: relative;
    top: 5vh;
    left: 10vw;
    height: 20px;
    padding-top: 0vh;
    padding-bottom: 10px !important;
  }
  #booth_info > div.col-10.p-0.m-0 > div {
    padding-left: 20px;
  }
  #booth_info {
    position: relative;
    font-size: small;
  }

  #booth_image {
    position: relative;
    height: 30vh;
  }
  #past_event_gallery {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: relative;
    top: 200vh;
  }

  #photo_gallery {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0 !important;
  }

  #event_side {
    position: relative;
    float: left;
    left: 10vw;
    top: -15vh;
  }

  #participate_side{
    top: 10vh;
    left: 1vw;
  }

  #participate {
    position: relative;
    top: 200vh;
  }

  .sponsor {
    position: relative;
    top: 180vh;
    height: 40vh;
  }

  footer {
    position: relative;
    top: 125vh;
    left: 1vw;
    margin-left: auto;
  }
}

/* All the snapping stuff */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

/* Other styles */
section {
  display: flex;
  align-items: center;
  justify-content: center;
}





